.footer {
  background: #FDFBF7;
  border-top: 1px solid #E5E1D8;

  max-width: 100%;
  padding: 80px 60px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
}

.footer-logo h2 {
  color: #07184A;
  font-size: 42px;
  margin-bottom: 15px;
}

.footer-logo p {
  color: #666;
}

.footer-links {
  display: flex;
  gap: 90px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column h4 {
  margin-bottom: 18px;
  font-size: 15px;
  color: #07184A;
}

.footer-column a {
  color: #07184A;
  text-decoration: none;
  margin-bottom: 12px;
  transition: 0.3s;
}

.footer-column a:hover {
  color: #07184A;
}

.copyright {
  margin-top: 30px;
  font-size: 14px;
  color: #666;
}

@media (max-width: 900px) {
  .footer {
    flex-direction: column;
    padding: 50px 25px;
    gap: 40px;
  }

  .footer-links {
    flex-direction: column;
    gap: 30px;
  }
}